<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <title>Fifa World Cup Qatar 2022</title>
        <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">    
        <link href="cover.css" rel="stylesheet">
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">    
        <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-5">
                <div>
                    <h3 class="float-md-start mb-0">Fifa World Cup Qatar 2022</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link" href="qualifiers.html">Qualifiers</a>
                        <a class="nav-link" href="index.html">Groups</a>
                        <a class="nav-link active" href="playoffs.html">Playoffs</a>
                        <a class="nav-link" href="scorers.html">Scorers</a>
                    </nav>
                </div>
            </header>
        </div>  
    </body>
</html>
