<!doctype html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <title>Fifa World Cup Qatar 2022</title>
        <link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">    
        <link href="cover.css" rel="stylesheet">
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">    
        <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-5">
                <div>
                    <h3 class="float-md-start mb-0">Fifa World Cup Qatar 2022</h3>
                    <nav class="nav nav-masthead justify-content-center">
                        <a class="nav-link active" href="qualifiers.html">Qualifiers</a>
                        <a class="nav-link" href="index.html">Groups</a>
                        <a class="nav-link" href="playoffs.html">Playoffs</a>
                        <a class="nav-link" href="scorers.html">Scorers</a>
                    </nav>
                </div>
            </header>

            <div class="col-md-4 mb-4 mx-auto">
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1 text-start">Tasks
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="table-responsive">
                                        <table class="table table-borderless w-75 mx-auto" id="dataTable" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="col-md-1">Argentina</td>
                                                    <td class="col-md-1">0</td>
                                                    <td class="col-md-1">-</td>
                                                    <td class="col-md-1">0</td>
                                                    <td class="col-md-1">Brasil</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                        <p class="card-text"><small class="text-muted d-flex">No Goals</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mx-auto">
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1 text-start">Tasks
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="table-responsive">
                                        <table class="table table-borderless w-75 mx-auto" id="dataTable" width="100%" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td class="col">Argentina</td>
                                                    <td class="col">2</td>
                                                    <td class="col">-</td>
                                                    <td class="col">3</td>
                                                    <td class="col">Brasil</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                        <ul class="scorer-info">
                            <li class="  ">
                              <span class="card-text">
                                  <a>Gabriel Jesus</a>
                                    <span class="card-text">19'</span>
                              </span>                           
                              <span class="score">1 - 0</span>                           
                              <span class="scorer">
                             </span>                              
                            </li>
                            <li class="  ">
                              <span class="scorer">
                                  <a>Roberto Firmino</a>
                                    <span class="minute">71'</span> 
                              </span>                           
                              <span class="score">2 - 0</span>                           
                              <span class="scorer">
                             </span>
                              <div class="clearfix"></div>
                            </li>
                        </ul>
                        <p class="card-text"><small class="text-muted d-flex">15' Juancito</small></p>
                        <p class="card-text"><small class="text-muted d-flex">64' Pedrito</small></p>
                        <p class="card-text"><small class="text-muted d-flex">No Goals</small></p>
                        <p class="card-text"><small class="text-muted d-flex">No Goals</small></p>
                        <p class="card-text"><small class="text-muted d-flex">No Goals</small></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4 mx-auto">
                <div class="card shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1 text-start">Tasks
                                </div>
                                <div class="row no-gutters align-items-center">
                                    <div class="table-responsive">
                                        <table class="table table-borderless w-75 mx-auto" id="dataTable" width="100%" cellspacing="0">
                                            <tbody>
                                                <tr>
                                                    <td>Argentina</td>
                                                    <td>0</td>
                                                    <td>-</td>
                                                    <td>0</td>
                                                    <td>Brasil</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>                                    
                        </div>
                        <p class="card-text"><small class="text-muted d-flex">No Goals</small></p>
                    </div>
                </div>
            </div>
        </div>  
    </body>
</html>
